<li>
    <a href=""><i class="fa-solid fa-heart"></i></a>
</li>
<li>
    <a href=""><i class="fa-solid fa-user"></i></a>
</li>
<li>
    <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
</li>
<strike></strike>





<!--
{% load static %}
{% block "content" %}
<div class="product_container">
  {% for product in page_obj %}
  
  {% comment %} if condition for sale {% endcomment %}
  {% if product.on_sale %}
  <div class="card">
    <img src="{{product.image.url}}" class="card-img-Topper" alt="abaya">
    <div class="card-body">
      <h5 class="card-title">{{product.product_name}}</h5>
      <strike><p class="card-text">Rs. {{product.price}}</p></strike>
      <p class="card-text">Rs. {{product.sale_price}}</p>

    </div>

    <div class="sale_icon">
      <div class="sale">Sale</div>
    </div>

    <div class="p_card_icon">

      <div class="p_cart_icon p_icon">
        <i class="fa-solid fa-cart-shopping icon_wl_c"></i>
      </div>
      <div class="p_wl_icon p_icon">
          <i class="fa-solid fa-heart icon_wl_c"></i>
      </div>
      

    </div>
    

    
  </div>

  {% comment %} for products not on sale {% endcomment %}
  {% else %}
    <div class="card">
        <img src="{{product.image.url}}" class="card-img-Topper" alt="abaya">
        <div class="card-body">
          <h5 class="card-title">{{product.product_name}}</h5>
          <p class="card-text">Rs. {{product.price}}</p>
        </div>

        <div class="p_card_icon">
          <div class="p_cart_icon p_icon">
            <i class="fa-solid fa-cart-shopping icon_wl_c"></i>
          </div>
          <div class="p_wl_icon p_icon">
              <i class="fa-solid fa-heart icon_wl_c"></i>
          </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endblock "content" %}

 -->




 <!-- Base 4 div section -->
 {% comment %} <div class="boxes">
  <img
    src="{{ poster.image.url }}"
    class="card-img-top"
    alt="{% url 'products_by_category' slug='modest_attire' %}"
  />
  <a href="{% url 'products_by_category' slug='modest_attire' %}" class="card-link">See more</a>
</div>
</div>
<div class="row">
<div class="boxes">
  <img
    src="{{ poster.image.url }}"
    class="card-img-top"
    alt="poster"
  />
  <a href="{% url 'products_by_category' slug='hijab' %}" class="card-link">See more</a>
</div>
<div class="boxes">
  <img
    src="{{ poster.image.url }}"
    class="card-img-top"
    alt="poster"
  />
  <a href="{% url 'products_by_category' slug='accessory' %}" class="card-link">See more</a>
</div> {% endcomment %}









{% for poster in posters %}
<div class="container">
  <div class="row">
    <div class="boxes">
      <img
        src="{{ poster.image.url }}"
        class="card-img-top"
        alt="poster"
      />
      <a href="{% url 'products_by_category' slug=poster.name|slugify %}" class="card-link">See more</a>
    </div>

  </div>
</div>
{% endfor %}



<!-- Product.html -->
<!-- <div class="product_container">
  {% for product in page_obj %}
    {% if product.on_sale %}
    <div class="card">
      <img src="{{ product.image.url }}" class="card-img-Topper" alt="product image">
      <div class="card-body">
        <h5 class="card-title">{{ product.product_name }}</h5>
        <strike><p class="card-text">Rs. {{ product.price }}</p></strike>
        <p class="card-text">Rs. {{ product.sale_price }}</p>
      </div>
      <div class="sale_icon">
        <div class="sale">Sale</div>
      </div>
      <div class="p_card_icon">
        <div class="p_cart_icon p_icon">
          <i class="fa-solid fa-cart-shopping icon_wl_c"></i>
        </div>
        <div class="p_wl_icon p_icon" data-product-id="{{ product.id }}">
          <i class="fa-solid fa-heart icon_wl_c"></i>
        </div>
        
      </div>
    </div>
    {% else %}
    <div class="card">
      <img src="{{ product.image.url }}" class="card-img-Topper" alt="product image">
      <div class="card-body">
        <h5 class="card-title">{{ product.product_name }}</h5>
        <p class="card-text">Rs. {{ product.price }}</p>
      </div>
      <div class="p_card_icon">
        <div class="p_cart_icon p_icon">
          <i class="fa-solid fa-cart-shopping icon_wl_c"></i>
        </div>
        <div class="p_wl_icon p_icon" data-product-id="{{ product.id }}">
          <i class="fa-solid fa-heart icon_wl_c"></i>
        </div>
        
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="First">
          <span aria-hidden="true">&laquo;&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="First">
          <span aria-hidden="true">&laquo;&laquo;</span>
        </a>
      </li>
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
          <span aria-hidden="true">&raquo;&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Last">
          <span aria-hidden="true">&raquo;&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav> -->















<!-- product page  -->

<div class="product_container">
  {% for product in page_obj %}
    {% if product.on_sale %}
    <div class="card">
      <a href="{% url 'product_detail' product.id %}">  <!-- Link to product detail page -->
        <img src="{{ product.image.url }}" class="card-img-Topper" alt="product image">
        <div class="card-body">
          <h5 class="card-title">{{ product.product_name }}</h5>
          <strike><p class="card-text">Rs. {{ product.price }}</p></strike>
          <p class="card-text">Rs. {{ product.sale_price }}</p>
        </div>
        <div class="sale_icon">
          <div class="sale">Sale</div>
        </div>
        <div class="p_card_icon">
          <div class="p_cart_icon p_icon">
            <i class="fa-solid fa-cart-shopping icon_wl_c"></i>
          </div>
          <div class="p_wl_icon p_icon" data-product-id="{{ product.id }}">
            <i class="fa-solid fa-heart icon_wl_c"></i>
          </div>
        </div>
      </a>
    </div>
    {% else %}
    <div class="card">
      <a href="{% url 'product_detail' product.id %}">  <!-- Link to product detail page -->
        <img src="{{ product.image.url }}" class="card-img-Topper" alt="product image">
        <div class="card-body">
          <h5 class="card-title">{{ product.product_name }}</h5>
          <p class="card-text">Rs. {{ product.price }}</p>
        </div>
        <div class="p_card_icon">
          <div class="p_cart_icon p_icon">
            <i class="fa-solid fa-cart-shopping icon_wl_c"></i>
          </div>
          <div class="p_wl_icon p_icon" data-product-id="{{ product.id }}">
            <i class="fa-solid fa-heart icon_wl_c"></i>
          </div>
        </div>
      </a>
    </div>
    {% endif %}
  {% endfor %}
</div>
























{% extends "base.html" %}
{% block "content" %}
<div id="auth-status" data-authenticated="{{ user.is_authenticated }}"></div>
<div class="container py-5">

    <div class="row s_p_div" style="gap:5rem;">
        <!-- Product Image Carousel -->
        <div class="col-md-6">
            <div id="productCarousel" class="carousel slide" data-bs-interval="false">
                <div class="carousel-inner">
                    <!-- Main product image -->
                    <!-- <div class="carousel-item active ">
                        <img src="{{ product.image.url }}" class="img-fluid" alt="Product Image">
                    </div> -->
                    <!-- Additional product images -->
                    <!-- {% for detail in product_details %} -->
                        <!-- {% if detail.images.all %} -->
                            {% for image in detail.images.all %}
                            <div class="carousel-item active">
                                <img src="{{ image.image.url }}" class="img-fluid" alt="Product Detail Image">
                            </div>
                            {% endfor %}
                        <!-- {% endif %} -->
                       
                    <!-- {% endfor %} -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- Product Details -->
        <div class="col-md-6 desc_div">
            <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-2 " style="text-align: start;">{{ product.product_name }}</h2>
            <div>
                <p class="text-gray-600 dark:text-gray-300 text-sm mt-2" style="display: flex;">
                    {{ product.desc }}
                </p>
                {% for detail in product_details %}
                    {% if detail.model_no %}
                        <p class="text-gray-700 dark:text-gray-300 text-sm font-bold mt-2" style="display: flex;">Model no: {{ detail.model_no }}</p>
                    {% endif %}
                    {% if detail.fabric %}
                        <p class="text-gray-600 dark:text-gray-300 text-sm mt-2" style="display: flex;">Fabric: {{ detail.fabric }}</p>
                    {% endif %}
                    {% if detail.color %}
                        <p class="text-gray-600 dark:text-gray-300 text-sm mt-2" style="display: flex;">Color: {{ detail.color }}</p>
                    {% endif %}
                {% endfor %}
            </div>
            
            <!-- Select Size -->
            {% if show_size_option %}
            <div class="mb-4">
                <span class="font-bold text-gray-700 dark:text-gray-300">Select Size:</span>
                <div class="mt-2">
                    <button class="btn btn-outline-secondary me-2 size-option" data-size="XS">XS</button>
                    <button class="btn btn-outline-secondary me-2 size-option" data-size="S">S</button>
                    <button class="btn btn-outline-secondary me-2 size-option" data-size="M">M</button>
                    <button class="btn btn-outline-secondary me-2 size-option" data-size="L">L</button>
                    <button class="btn btn-outline-secondary me-2 size-option" data-size="XL">XL</button>
                </div>
            </div>
            {% endif %}
            <!-- Select Quantity -->
            <div class="mb-4">
                <span class="font-bold text-gray-700 dark:text-gray-300">Quantity:</span>
                <div class="mt-2">
                    <input type="number" id="quantity" class="form-control w-25" value="1" min="1">
                </div>
            </div>
            
            <div class="mb-4">
                {% if product.on_sale %}
                    <strike><p class="card-text">Rs. {{ product.price }}</p></strike>
                    <p class="card-text">Rs. {{ product.sale_price }}</p>
                {% else %}
                    <span class="text-gray-600 dark:text-gray-300">Rs. {{ product.price }}</span>
                {% endif %}
            </div>
            <div class="mb-4">
                <button class="btn btn-primary w-50 mb-2 button1" id="add-to-cart-button" data-product-id="{{ product.id }}">Add to Cart</button>
                <button class="btn btn-outline-secondary w-50 button2" data-product-id="{{ product.id }}">Add to Wishlist</button>
            </div>
        </div>
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        const addToCartButton = document.getElementById('add-to-cart-button');
        const sizeOptions = document.querySelectorAll('.size-option');
        // let selectedSize = null;
        const showSizeOption = {{ show_size_option|lower }};

        if (showSizeOption && sizeOptions.length > 0) {
            sizeOptions.forEach(option => {
                option.addEventListener('click', function () {
                    sizeOptions.forEach(btn => btn.classList.remove('active'));
                    this.classList.add('active');
                    selectedSize = this.getAttribute('data-size');
                });
            });

            addToCartButton.addEventListener('click', function (event) {
                if (!selectedSize) {
                    alert('Please select a size before adding to cart.');
                    event.preventDefault();
                    return;
                }
                addToCart(event, selectedSize);
            });
        } else {
            addToCartButton.addEventListener('click', function (event) {
                addToCart(event);
            });
        }

        function addToCart(event, size) {
            event.preventDefault();
            const productId = addToCartButton.getAttribute('data-product-id');
            const quantity = document.getElementById('quantity').value;

            fetch('{% url "add_to_cart" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify({
                    product_id: productId,
                    size: size,
                    quantity: quantity,
                }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Item added to cart successfully!');
                } else {
                    alert('There was an error adding the item to the cart.');
                }
            });
        }
    });
    </script>
{% endblock "content" %}








Custom CSS
.carousel-item img {
    height: 600px;
    /* width: 400px; */
    object-fit: cover;
}
/* .heading_p
{
    float: left;
} */
.btn-outline-secondary {
    border: 1px solid #6c757d;
    color: #6c757d;
}

.btn-outline-secondary:hover {
    background-color: #6c757d;
    color: #fff;
}
.s_p_div
{
    display: flex;
    flex-wrap: nowrap;

}
.row
{
    gap: 10rem;
}
.desc_div
{
    top: 0%;
}
.button1
{

    background-color:#6c757d;;
    border-color:  #6c757d;;
}
.btn:hover
{
    background-color: #fb85a1;
    border-color: #fb85a1;
}
/* Change the background color of the Add to Cart button */
/* #add-to-cart-button.button1 {
    background-color: gray;
    border-color: gray;
} */

/* Change the background color to pink when the button is clicked */
#add-to-cart-button.button1:active {
    background-color: #fb85a1;
    border-color: #fb85a1;
}
.btn-outline-secondary:active
{
    background-color: #fb85a1;
    border-color: #fb85a1;
} */




