*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}

li
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: #000000;
}
a:hover
{
    color: #fb85a1;
}
.user_icon {
    color: inherit; /* Ensure the icon inherits the current color */
    /* transition: color 0.3s, background-color 0.3s; Smooth transition for color changes */
}

.user_icon:hover {
    color: #fb85a1; /* Change the color on hover */
    background-color: transparent; /* Ensure the background color remains transparent */
}

/* Additional hover styles for dropdown items */
.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Slight darkening effect */
    color: inherit; 
}
.nav_bar
{
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    height:5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 0.1rem solid rgb(209 209 209); */
}
.logo_div
{
    margin-left: 2%;
    width:10vw;
    height: auto;
}
.logo_img
{
    width:6rem;
    height: auto;
}

.nav_list
{
    display: flex;
    gap: 4rem;
}
.side_div
{
    display: flex;
    gap: 1rem;
    margin-right:1.5rem;
}

.nav_bar .toggle_btn
{
    color: #000000;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.sidebar
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0.1, 0, 0);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
    padding: 3%;
    font-size: large;
  }
.sidebar a{
    width: 100%;
  }
.sidebar li i{
    float: right;
}

/* Responsiveness */
/* @media (max-width:1150px)
{
    .side_div
    {
       margin-right:-45px;
    }
    
} */
@media (max-width:1024px)
{
    .nav_list {
        gap: 2.5rem;
    }
    /* .side_div
    {
       margin-right:-55px;
    }
     */
}
@media (max-width: 915px) {
    .nav_list, .side_div {
        display: none;
    }
    .nav_bar {
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        align-items: center; /* Center items vertically */
    }
    .logo_div {
        
        flex: 1; /* Take up remaining space */
        text-align: center; /* Center the logo horizontally */
    }
    .nav_bar .toggle_btn {
        display: block;
        order: -1; /* Move the toggle button to the left */
    }
    .sidebar
    {
        display:flex;

    }
}