{% extends "base.html" %} {% load static %} {% block "content" %}
<style>
  .container {
    width: 80%;
    margin: 0 auto;
    /* padding: 20px; */
    background: #fff;
  }
  h2 {
    color: gray;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .section {
    /* margin: 20px 0; */
    /* text-align: left; */
  }
  p{
  font-size: small;
  }
  li{
  font-size: small;
  }
</style>
<div class="container">
  <h2>Returns & Exchanges</h2>
  <div class="section">
    <h5>Returns</h5>
    <p>
      If you are not completely satisfied with your purchase, you may return it
      within 10 days of the delivery date for a full refund or exchange.
      Please ensure that the item is in its original condition and packaging,
      with all tags attached.
    </p>
    <p>To initiate a return, please follow these steps:</p>
    <ol>
      <li>
        Contact our customer service team at
        <a style="color: #fb85a1" href="mailto:mrcollections.store@gmail.com">
          mrcollections.store@gmail.com</a
        >
        to request a return authorization.
      </li>
      <li>
        Once your return request is approved, carefully package the item and
        include the return authorization number inside the package.
      </li>
      <li>
        Ship the item back to us using a trackable shipping service. The return
        shipping costs are the responsibility of the customer.
      </li>
      <li>
        Once we receive your returned item and verify its condition, we will
        process your refund or exchange within 30 business days.
      </li>
    </ol>
  </div>
  <div class="section">
    <h5>Exchanges</h5>
    <p>
      If you would like to exchange an item for a different size, color, or
      style, please contact our customer service team at
      <a style="color: #fb85a1" href="mailto:mrcollections.store@gmail.com">
        mrcollections.store@gmail.com</a
      >
      to request an exchange authorization. Follow the same steps outlined above
      for initiating a return, and indicate the desired exchange item in your
      communication with our team.
    </p>
    <p>
      Once we receive your returned item and verify its condition, we will
      process the exchange and ship out the new item to you within 15
      business days.
    </p>
  </div>
  <div class="section">
    <h5>Additional Information</h5>
    <p>
      If you have any questions or concerns regarding our returns and exchanges
      process, please don't hesitate to contact our customer service team. We
      are here to assist you and ensure that your shopping experience with us is
      enjoyable and hassle-free.
    </p>
  </div>
</div>
{% endblock "content" %}
