{% extends "base.html" %}
{% block "content" %}
    
<div class="w_l_product_container">
    <div class="w_l_item">
        <img class="w_l_product_img" src="abaya1.jpg" alt="product_img">
        <p class="w_l_product_desc">Sage abaya</p>
        <p class="w_l_product_price">5000 Rs</p>
    </div>
    <div class="w_l_item">
        <img class="w_l_product_img" src="abaya1.jpg" alt="product_img">
        <p class="w_l_product_desc">Sage abaya</p>
        <p class="w_l_product_price">5000 Rs</p>
    </div>
    <div class="w_l_item">
        <img class="w_l_product_img" src="abaya1.jpg" alt="product_img">
        <p class="w_l_product_desc">Sage abaya</p>
        <p class="w_l_product_price">5000 Rs</p>
    </div>
    <div class="w_l_item">
        <img class="w_l_product_img" src="abaya1.jpg" alt="product_img">
        <p class="w_l_product_desc">Sage abaya</p>
        <p class="w_l_product_price">5000 Rs</p>
    </div>
    <div class="w_l_item">
        <img class="w_l_product_img" src="abaya1.jpg" alt="product_img">
        <p class="w_l_product_desc">Sage abaya</p>
        <p class="w_l_product_price">5000 Rs</p>
    </div>
    <div class="w_l_item">
        <img class="w_l_product_img" src="abaya1.jpg" alt="product_img">
        <p class="w_l_product_desc">Sage abaya</p>
        <p class="w_l_product_price">5000 Rs</p>
    </div>
    <div class="w_l_item">
        <img class="w_l_product_img" src="abaya1.jpg" alt="product_img">
        <p class="w_l_product_desc">Sage abaya</p>
        <p class="w_l_product_price">5000 Rs</p>
    </div>
    <div class="w_l_item">
        <img class="w_l_product_img" src="abaya1.jpg" alt="product_img">
        <p class="w_l_product_desc">Sage abaya</p>
        <p class="w_l_product_price">5000 Rs</p>
    </div>
    <div class="w_l_item">
        <img class="w_l_product_img" src="abaya1.jpg" alt="product_img">
        <p class="w_l_product_desc">Sage abaya</p>
        <p class="w_l_product_price">5000 Rs</p>
    </div>
    </div>

    
{% endblock "content" %}